strong {
    display: block !important; 
  border: 1px solid #ffb800 !important;
  background-color: #ffb800 !important;
  color: #fff !important;
  padding: 5px 10px !important;
  margin-bottom: 10px !important;
  border-radius: 10px !important; /* Rounded border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) ;
}

p {
    display: block !important; 
  border: 1px solid #f0f0f0 !important;
  background-color: #f0f0f0 !important;
  color: #000 !important;
  padding: 5px 10px !important;
  margin-bottom: 10px !important;
  border-radius: 10px !important; /* Rounded border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) ;
}

body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } 